{{#beauty-zone-baner}}
  <section class="content-line content-line__beauty-zone" data-aos="fade-in" style="background-image: url(assets/img/{{slide-name}}.jpg);">
    <div class="section-title section-title__beauty-bnr">
      <h2>{{text}}</h2>
    </div>
  </section>
{{/beauty-zone-baner}}