{{#price}}
  <section class="content-line content-line__price" style="background-image: url(assets/img/hotel-photo-2.jpg);">
    <div class="container">
      <div class="white-block">
        <div class="inner-block">
          <div class="row">
            <div class="col-12">
                {{> ../partials/section-title }}
            </div>
            <div class="col-12 col-lg-4">
                {{> ../partials/price-block }}
            </div>
            <div class="col-12 col-lg-4">
              <div class="row">
                <div class="col-12">
                    {{> ../partials/price-block }}
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                    {{> ../partials/price-block }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/price}}