{{#price}}
  <section class="content-line content-line__price" style="background-image: url(assets/img/hotel-photo-2.jpg);">
    <div class="container">
      <div class="white-block">
        <div class="inner-block">
          <div class="row">
            <div class="col-12">
                {{> ../partials/section-title }}
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-lg-4">
              <ul class="item-list">
                {{#items}}
                  <li>
                    <span>{{{name}}}</span><span>{{{price}}}</span>
                    {{#sublist}}
                    <ul class="item-list__sublist">
                      {{#sub-items}}
                        <li>
                          <span>{{{name}}}</span><span>{{{price}}}</span>
                        </li>
                      {{/sub-items}}
                    </ul>
                    {{/sublist}}
                  </li>  
                {{/items}}
              </ul>
            </div>
            <div class="col-12 col-lg-8">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/price}}