{{#price}}
  <section class="content-line content-line__price" style="background-image: url(assets/img/hotel-photo-2.jpg);">
    <div class="container">
      <div class="white-block">
        <div class="inner-block">
          <div class="row">
            <div class="col-12 col-lg-4">
                {{> templates/partials/section-title }}
                {{#items}}
                <ul class="item-list">
                  <li>
                    <span>{{{name}}}</span><span>{{{price}}}</span>
                    {{#sublist}}
                    <ul class="item-list__sublist">
                      {{#sub-items}}
                        <li>
                          <span>{{{name}}}</span><span>{{{price}}}</span>
                        </li>
                      {{/sub-items}}
                    </ul>
                    {{/sublist}}
                  </li>  
                </ul>
                {{/items}}
            </div>
            <div class="col-12 col-lg-4">
               {{#items}}
               {{/items}}
            </div>
            <div class="col-12 col-lg-4">
              <div class="row">
                <div class="col-12">
                   
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{/price}}