{{#content-line-2}}
<section class="content-line">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-5 {{#reverse}}{{/reverse}}">
        {{> ../partials/section-title }}
        {{#paragraphs}}
        <p>
          {{{text}}}
        </p>
        {{/paragraphs}}
        <a href="#" class="btn btn_big btn_small ">Переглянути усі номери</a>
      </div>
      <div class="col-12 col-lg-7">
        pictures
      </div>
    </div>
  </div>
</section>
{{/content-line-2}}