{{#content-line-4}}
  <section class="content-line content-line_map position-relative">
    <div class="container">
      <div class="row ">
        <div class="col-12">
          <div class="contact-baner z-index-9999 text-left" data-aos="fade-right">
            <h2>Контакти</h2>
            <ul>
              <li><i class="icon icon-3"></i><p>м.Львів, вул. Тадеуша Костюшка, 14.</p></li>
              <li class="mt-2"><i class="icon icon-2"></i><a href="tel:+380672668263">Тел. +38 067 266 8263</a></li>
              <li class="mt-2"><i class="icon icon-1"></i><a href="mailto:Family@Residence.com.ua">Family@Residence.com.ua</a></li>
              <li class="mt-2"><i class="icon icon-4"></i><a href="#">Instagram</a></li>
              <li class="mt-2"><i class="icon icon-5"></i><a href="#">Facebook</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="map">
      
    </div>
  </section>
{{/content-line-4}}