{{#content-line-3}}
<section class="content-line bg-n py-0" style="background-image: url(assets/img/hotel-photo.jpg);">
  <div class="container">
    <div class="row d-block d-lg-none">
      <img src="assets/img/hotel-photo.jpg" alt="image" class="img-fluid">
    </div>
    <div class="row">
      <div class="col-12 text-right mt-5">
        <div class="info-baner text-left m-0 d-lg-inline-block d-block mt-5" data-aos="zoom-in-down">
          <h2>Зручне розташування</h2>
          <p>Поряд з готелем розташовано безліч ресторанів, барів, залізничні каси, музеї, картинна галерея, Палац мистецтв, </p>
          <h4>Відстань до: </h4>
          <ul>
            <li>центрального залізничного вокзалу Львова -2,5 км, </li>
            <li>міжнародного аеропорту "Львів" імені Данила Галицького- 5,8 км</li>
            <li>площі Ринок 400 м</li>
            <li>Оперного театру 300 м</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="text-baner py-3 d-lg-block d-none" data-aos="zoom-in-down">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <p>Ми сподіваємося, що перебування в нашому готелі буде комфортним і залишить у Вас відчуття затишку і безпеки.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{{/content-line-3}}