@font-face {
  font-family: "OswaldLight";
  src: url(../fonts/Oswald-Light.ttf) format("truetype");
}

@font-face {
  font-family: "ArimoRegular";
  src: url(../fonts/Arimo-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "ArimoBold";
  src: url(../fonts/Arimo-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "OswaldMedium";
  src: url(../fonts/Oswald-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "OswaldBold";
  src: url(../fonts/Oswald-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "MuseoSans";
  src: url(../fonts/MuseoSansCyrl-100.otf) format("truetype");
}

@font-face {
  font-family: "RalewayBold";
  src: url("../fonts/RalewayBold.ttf") format("truetype");
}

@font-face {
  font-family: "Raleway-Light";
  src: url(../fonts/Raleway-Light.ttf) format("truetype");
}

@font-face {
  font-family: "UbuntuBold";
  src: url("../fonts/Ubuntu-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "UbuntuRegular";
  src: url(../fonts/Ubuntu-Regular.ttf) format("truetype");
}
