body, html {
  min-width: 320px;
}
.fl-mb {
  margin-top: 150px !important;
}
* {
  box-shadow: none;
  outline: none;
}
.custom-select{
  &:focus {
    box-shadow: none;
  }
}

.button-header {
  padding: 8px 47px;
  color: #fff;
  text-decoration: none;
  font-family: $font-3;
  font-size: 1rem;
  text-align: center;
  background-color: #51bac2;
  &:hover {
    color: #fff;
    text-decoration: none;
    background-color: darken(#51bac2, 5%);
  }
}
.inner-404 {
  margin-top: 150px;
}
.menu-bgc {
  background-color: #faf7f5;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.white-bg {
  background-color: #faf7f5;
  width: 40px;
  height: 50px;
}
.item-bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 0;
  padding-top: 64%;
}

.mob-title {
  h3 {
    font-family: $font-1;
    font-size: 1rem;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 10px;
  }
}



.error-bg {
    display: block;
    width: 100%;
    height: 1000px;
    height: auto;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(247,247,247,.8);
      height: 100%;
      width: 100%;
    }
}

.pag-nav {
  .current-item {
    color: #48a9b1;
  }
}


@media screen and (max-width: 992px) {
  font-size: 12px;
}



h1,h2,h3,h4,h5,h6,p,span,ul,a {
  margin: 0;
  padding: 0;
}

p {
  & + p {
    margin-top: 1rem;
  }
}


.text-t {
  h2 {
    font-size: 2.5rem;
    font-family: $font-5;
  }
}

.pr-dots {
  padding-right: 72px;
}

.column-header {
  .title-header {
    .item {
      p {
        font-family: $font-2;
        font-size: 1rem;
      }
    }
  }
}

.brd-bottom {
  border-bottom: 1px solid #71bdc2;
  max-width: 300px;
}

.bgc {
  background-color: #f7f9f9;
  box-shadow: 0px 15px 8px -3px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-left: 20px;
}

.mb-salon {
  margin-bottom: 80px;
}

.pl-flat {
  padding-left: 60px;
}

.mt-srv {
  padding-top: 6px;
}

.mt-sr {
  padding-top: 42px;
}

.mt-price {
  margin-top: 100px;
}

@media screen and (max-width: 992px) {
  .mt-price {
    margin-top: 50px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .mt-price {
    margin-top: 80px;
  }
}

.mt-price-1 {
  margin-top: 50px;
}

.inf-text {
  margin-bottom: 40px;
  p {
    font-family: $font-2;
  }
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 200px;
}


@media screen and (max-width: 992px) {
  #map {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 56%;
  }
}
.icon {

  vertical-align: middle;
}


.txt-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
 
  &:nth-child(2) {
    align-self: flex-end;
  }
  p {      
    font-family: $font-2;
    font-size: 1rem;
    text-align: center;
    
  }
  span {
    margin-top: 50px;
    font-size: 1.25rem;
    text-align: right;
  }
}
.price {
  font-family: $font-2;
  font-size: 1.25rem;
  span {
    font-family: $font-6;
    color: #51bac2;
  }
}
.column-header {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  i {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  .item {
    text-align: center;
    color: #373736;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    &_no-flex {
      display: block;
    }
    p, h4 {
      font-size: 1rem;
      font-family: $font-5;
      text-align: center;
      margin-top: 1rem;
      max-width: 90%;
    }
    h4 {
      max-width: 70%;
      margin: 0 auto 1rem;
      text-align: left;
    }
    ul {
      max-width: 90%;
      margin: 0 auto;
      padding: 0;
      li {
        font-family: $font-2;
        font-size: 1rem;
        text-align: left;
      }
    }
    // span {
    //   font-size: 1rem;
    //   text-align: left;
    // }
    
  }
}

@media screen and (max-width: 480px) {
  .txt-wrapper {
    p {
      font-size: 0.8rem;
    }
  }
  .column-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    .item {
      p {
        font-size: 0.8rem;
      }
      ul {
        li {
          font-size: 0.8rem;
        }
      }
    }
    &_mod {
      justify-content: space-between;
      padding-left: 15px;
      margin-right: 50px;
      margin-top: 15px;
    }
    .title-header {
      .item {
        text-align: center;
        color: #373736;
        p {
          font-size: 0.8rem;
          font-family: $font-3;
          text-align: center;
          margin-top: 1rem;
          flex-wrap: wrap;
        }
        span {
          font-size: 0.8rem;
          text-align: left;
        }
      }
    }
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .column-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    font-size: 3rem;
    &_mod {
      justify-content: space-between;
      padding-left: 15px;
      margin-right: 50px;
      margin-top: 15px;
    }
    .item {
      text-align: center;
      color: #373736;
      p {
        font-size: 1rem;
        font-family: $font-3;
        text-align: center;
        margin-top: 1rem;
        flex-wrap: wrap;
      }
      span {
        font-size: 1rem;
        text-align: left;
      }
    }
  }
}

.services-content-wrapper {
  padding: 3.1rem 4.3rem;
  background-color: #f7f9f9;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  h2 {
    font-family: $font-4;
  }
  h5 {
    font-family: $font-5;
  }
}


@media screen and (max-width: 480px) {
  .services-content-wrapper {
    padding: 3.1rem 4.3rem;
    background-color: #f7f9f9;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    h2 {
      font-size: 1.25rem;
    }
    h5 {
      font-size: .8rem;
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .services-content-wrapper {
    padding: 3.1rem 4.3rem;
    background-color: #f7f9f9;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    h2 {
      font-size: 2rem;
    }
    h5 {
      font-size: 1rem;
    }
  }
}

.services-icons {
  display: flex;
  justify-content: space-around;
  font-size: 3rem;
  .item {
    text-align: center;
    color: #49a9b2;
    p {
      font-size: 1rem;
      font-family: $font-3;
      text-align: center;
      margin-top: 1.25rem;
      color: #373736;
    }
  }
}

@media screen and (max-width: 992px) {
  .services-icons {

    font-size: 3rem;
    .item {
      margin-top: 10px;
      text-align: center;
      color: #49a9b2;
      p {
        max-width: 90%;
        font-size: 1rem;
        font-family: $font-1;
        text-align: center;
        margin-top: 1.25rem;
        color: #373736;
        
      }
    }
  }
}

.title-wrapper {
  display: flex;
  justify-content: flex-end;
}
/* ----------- Section title ----------- */
.section-title {
  margin-bottom: 1.875rem;
  h2 {
    font-family: $font-4;
    font-size: 3.125rem;
  }
  p {
    margin-top: 5px;
    font-family: $font-1;
    font-size: 1rem;
  }
  
  &__beauty-bnr {
    h2 {
      position: relative;
      top: 30px;
      font-size: 4.375rem;
      font-family: $font-6;
      color: #f7f8f8;
      text-align: center;
      padding-top: 20px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 2.5rem;
    text-align: center; 
    color: #ffffff;
    height: 340px;
    span {
      font-family: $font-4;
      position: relative;
      z-index: 9999;
    }
  }
}
.menu-img {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    span {
      font-size: 2.8rem;
      transition: all 0.2s ease-in-out;
      text-decoration: none;
    }
  }
  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 33, 33,.5);
    height: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  .section-title {
    h2 {
      font-size: 1.5rem;
    }
    &__mobile {
      h2 {
        font-family: $font-1 !important;
        font-size: 1rem;
        text-align: center;
      }
    }
  }
}
/* ------------------------------------ */

.z-index-9999 {
  z-index: 9999;
  position: relative;
}


.bg {
  background-position: 0 0;
  height: 945px;
}

.btn {
  border-radius: 0;
  &_big {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #51bac2;
    color: #ffffff;
    font-family: $font-3;
    transition: all .3s ease-in-out;
    &_mdf {
      width: 70%;
    }
    &_hdr {
      margin-top: 0;
      padding: 0;
      height: 0;
      
      width: 20%;
    }
    &_form {
      width: 33%;
    }
    &:hover {
      color: #fff;
      background-color: darken(#51bac2, 5%);
    }
  }
  &_small {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 50px;
    background-color: #51bac2;
    color: #ffffff;
    font-family: $font-3;
    transition: all .3s ease-in-out;
    &:hover {
      color: #fff;
      background-color: darken(#51bac2, 5%);
    }
  }
} 


.faq {
  display: flex;
  min-height: 100vh;
  height: 100%;
  padding: 220px 0 50px 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  justify-content: center;
  position: relative;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(33, 33, 33,.5);  
  }

  .faq-header {
    h2 {
      font-family: $font-4;
      font-size: 3.125rem;
      text-align: center;
      color: #fff;
      background-color: #51bac2;
      padding-top: 25px;
      padding-bottom: 25px;
    }
  }
}


.main-content {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  justify-content: center;
  align-items: center;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(33, 33, 33,.5);
    height: 100%;
    width: 100%;  
  }
  .info-block {
    display: block;
    position: relative;
    z-index: 9999;
    padding: 35px 80px;
    width: 95%;
    max-width: 845px;
    background-color: #fff;
    img {
      display: block;
      margin: 0 auto;
      width: 100%;
      max-width: 650px;
    }
    .separator {
      z-index: 9999;
    }
    p {
      margin: 0 auto;
      font-size: 1.875rem;
      font-family: $font-2;
      width: 95%;
      max-width: 430px;
      line-height: 1.1;
    }
    .btn {
      &_big {
        &_successful {
          padding-top: 19px;
          padding-bottom: 19px;
          height: 0;
          width: 30%;
          margin: 0 auto;
          margin-top: 25px;
        }
      }
    }
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .main-content {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(33, 33, 33,.5);
      height: 100%;
      width: 100%;  
    }
    .info-block {
      display: block;
      position: relative;
      z-index: 9999;
      padding-top: 15px;
      padding-bottom: 20px;
      padding-left: 65px;
      padding-right: 40px;
      background-color: #fff;
      img {
        display: block;
        margin: 0 auto; 
      }
      .separator {
        z-index: 9999;
        
      }
      p {
        display: block;
        margin: 0 auto;
        position: relative;
        text-align: left;
        font-size: 1.4rem;
        font-family: $font-2;
        max-width: 60%;
        line-height: 1.1;
      }
      .btn {
        &_big {
          &_successful {
            padding-top: 19px;
            padding-bottom: 19px;
            height: 0;
            width: 45%;
            margin: 0 auto;
            margin-top: 25px;
          }
        }
      }
    }
  }
  
}


@media screen and (max-width: 480px) {
  .main-content {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(33, 33, 33,.5);
      height: 100%;
      width: 100%;  
    }
    .info-block {
      display: block;
      position: relative;
      z-index: 9999;
      padding-top: 15px;
      padding-bottom: 20px;
      padding-left: 65px;
      padding-right: 40px;
      background-color: #fff;
      img {
        display: block;
        margin: 0 auto; 
      }
      .separator {
        z-index: 9999;
        
      }
      p {
        display: block;
        margin: 0 auto;
        position: relative;
        text-align: left;
        font-size: 1rem;
        font-family: $font-2;
        max-width: 88%;
        line-height: 1.1;
      }
      .btn {
        &_big {
          &_successful {
            padding-top: 19px;
            padding-bottom: 19px;
            height: 0;
            width: 80%;
            margin: 0 auto;
            margin-top: 25px;
          }
        }
      }
    }
  }
  
}

@media screen and (max-width: 1199px) {
  .btn {
    &_big {
      margin-top: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75%;
      height: 50px;
      background-color: #51bac2;
      color: #ffffff;
      font-family: $font-3;
      transition: all .3s ease-in-out;
      &_hdr {
        margin-top: 0;
    
        margin-left: 20px;
        height: 40px;
        width: 50%;
      }
    }
  }
}


.pag-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  li {
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    a {
      color: #000000;
      text-decoration: none;
      display: block;
      width: 26px;
      line-height: 26px;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: #51bac2;
        color: #fff;
      }
    }
  }
}

.btn-classic {
  text-decoration: none;
  display: block;
  border: 1px solid #49a9b2;
  color: #000000;
  font-family: $font-3;
  text-align: center;
  font-size: 1.125rem;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all .3s ease-in-out;
  &:hover {
    text-decoration: none;
    background-color: #49a9b2;
    color: #fff;
  }
}

/* Content line */
.content-line {
  margin-top: 50px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  &__menu-bg {
    background-color: #ffffff;
    box-shadow: none;
  }
  .text-baner {
    margin: 15.625rem 0 0;  
    text-align: center;
    background-color: rgba(50, 56, 63, 0.95);  
    color: #ffffff;
    font-size: 1.875rem;
    font-family: $font-1;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .info-baner {
    display: inline-block;
    padding: 30px;
    margin: 9.375rem 0 0;
    background-color: #f7f8f8;
    * {
      color: #373736;
    }
    h2,h4 {
      font-family: $font-4;
    }
    h2 {
      font-size: 3.125rem;
      padding: 0;
      margin: 0 0 1.5rem 0;
    }
    h4 {
      font-size: 1rem;
      margin-top: 2.125rem;
    }
    p {
      font-family: $font-2;
      max-width: 434px;
      margin: 0;
      padding: 0;
      & + p {
        margin-top: 1rem;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        font-family: $font-2;
        &:before {
          content: '-';
          margin-right: 0.4rem;
        }          
      }
    }
  }
  .contact-baner {
    display: inline-block;
    padding: 30px;
    margin: 9.375rem 0 0;
    background-color: #f7f8f8;
    &_with-shadow {
      box-shadow: 0 1px 10px rgba(0,0,0,.1);
    }
    * {
      color: #373736;
    }
    h2,h4 {
      font-family: $font-4;
    }
    h2 {
      font-size: 3.125rem;
      padding: 0;
      margin: 0 0 1.5rem 0;
    }
    h4 {
      font-size: 1rem;
      margin-top: 2.125rem;
    }
    p {
      font-family: $font-2;
      max-width: 434px;
      margin: 0;
      padding: 0;
      & + p {
        margin-top: 1rem;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        font-family: $font-2;
        max-width: 434px;
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }
    }
    li {
      position: relative;
      p {
        padding-left: 30px;
      }
      a {
        padding-left: 30px;
      }
      .icon {
        position: absolute;
        margin-right: 10px;
        vertical-align: middle;
        &-1 {
          font-size: 1rem;
      
        }
        &-2 {
          font-size: 1.2rem;
          left: 3px;
        }
        &-3 {
          font-size: 1.2rem;
      
        }
        &-4 {
          font-size: 1.2rem;
        }
        &-5 {
          font-size: 1.2rem;
          left: 3px;
        }
      }
    }
    
  }
  &_map {
    padding: 12.5rem 0;
    margin-top: 0;
  }
  &_contact {
    min-height: 750px;
    padding-top: 0;
  }
  &__beauty-zone {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(33, 33, 33,.5);
      height: 100%;
      width: 100%;
    }
  }
  &__price {
    position: relative;
    &:before {
      position: absolute;
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(33, 33, 33,.5);
      height: 100%;
      width: 100%;
    }
  }
}
@media screen and (max-width: 992px) {
  .content-line {
    margin-top: 20px;
    margin-bottom: 20px;
    &_contact {
     min-height: 0;
    
    }
     &__price {
      background-image: none !important;
      .white-block {
        background-color: #f8f8f8;
      } 
      &:before {
        background-color: transparent;
      }
    }
    &_map {
      padding: 0;
      box-shadow: none;
    }
    .info-baner {
      margin-top: 5.6rem;
      h2 {
        font-size: 2.5em;
      }
    }
    .text-baner {
      margin-top: 5.6rem;
      font-size: 0.875rem;
    }
    .contact-baner {
      margin-top: 0;
      h2 {
        font-size: 2.5rem;
      }
    }
  }  
}

.ml {
margin-right: 15px;
}
.mr {
margin-left: 15px;
}


.descriptions {
  width: 80%;
  p {
    font-family: $font-2;
    b {
      font-family: $font-5;
      display: block;
    }
  }
}

@media screen and (max-width: 992px) {
  .descriptions {
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
  }
}

span {
  color: currentColor;
  &:hover {
    color: currentCOlor;
    text-decoration: none;
  }
}


.error-text-wrapper {
  top: 0;
  left: 0;

  h1 {
    font-family: $font-6;
    font-size: 2.81rem;
    text-align: center;
  }
  h2 {
    font-family: $font-6;
    font-size: 18.1rem;
    color: #71bdc2;
    text-align: center;
  }
  p {
    text-align: right;
    font-family: $font-2;
    font-size: 1.25rem;
    a {
      color: #71bdc2;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 991px) {
  .error-text-wrapper {
    top: 0;
    left: 0;
  
    h1 {
      font-family: $font-6;
      font-size: 1.81rem;
    }
    h2 {
      font-family: $font-6;
      font-size: 5.1rem;
      color: #71bdc2;
      text-align: center;
    }
    p {
      text-align: right;
      font-family: $font-2;
      font-size: 1rem;
      a {
        color: #71bdc2;
        text-decoration: none;
      }
    }
  }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .error-text-wrapper {
    top: 0;
    left: 0;
  
    h1 {
      font-family: $font-6;
      font-size: 2rem;
    }
    h2 {
      font-family: $font-6;
      font-size: 10.1rem;
      color: #71bdc2;
      text-align: center;
    }
    p {
      text-align: right;
      font-family: $font-2;
      font-size: 1rem;
      a {
        color: #71bdc2;
        text-decoration: none;
      }
    }
  }
}

.contacts-main {
  .contact-baner {
    background-color: transparent;
    box-shadow: none;
  }
}

.bg-n {
  background: none;
  background-image: none !important;
}

.contacts-without-bg {
  background-color: #fff;
  box-shadow: none;
}

.main-carousel {
  padding-bottom: 17px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  .contacts-nav {
    margin-left: 20px;
    ul {  
       
      list-style: none;
      margin: 0;
      padding: 0;
      li {
        a {
          text-decoration: none;
          color: #373736;
        }
        &:first-child {
          margin-right: 1.5rem;
        }
      }
    }
  }
  &__error {
    padding: 0;
    background-color: none;
    box-shadow: none;
  }
}

@media screen and (max-width: 1200px) {
  .main-carousel {
    padding-bottom: 17px;
    background-color: #ffffff;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    .contacts-nav {
      margin: 0;
      ul {  
         
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          a {
            text-decoration: none;
            color: #373736;
          }
          &:first-child {
            margin-right: 1.5rem;
          }
        }
      }
    }
    &__error {
      padding: 0;
      background-color: none;
      box-shadow: none;
    }
  }
}

.flat-carousel { 
.slide-outer {
  padding-top: 56%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  &__gallery {
    margin-right: 10px;
    margin-left: 10px;
  }
  &__slide {

      img {
        width: 100%;
      }
    }
  }
}

.contacts-without-bg {

  .contact-baner {
    background-color: #ffffff;
  }
}


.slider-arr {
  display: block;
  width: 12px;
  height: 12px;
  border:  3px solid black;
  top: 58%;
  position: absolute;
  transform: rotate(-45deg);
  z-index: 6000;
  &_prev {
    width: 40px;
    height: 50px;
    background-color: #fff;
    border: none;
    transform: none;
    left: 50px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      border:  3px solid black;
      transform-origin: 50% 50%;
      transform: translate(-25%, -50%) rotate(45deg);
      border-right: none;
      border-top: none;
    }
  }
  &_next {
    width: 40px;
    height: 50px;
    background-color: #fff;
    border: none;
    transform: none;
    right: 50px;
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 12px;
      height: 12px;
      border:  3px solid black;
      transform-origin: 50% 50%;
      transform: translate(-75%, -50%) rotate(45deg);
      border-left: none;
      border-bottom: none;
    }
  }
  &_left {
    left: -30px;
    border-right: none;
    border-bottom: none;
  }
  &_right {
    right: -30px;
    border-left: none;
    border-top: none;
  }
  &_gallery-l {
    top: 107%;
    right: 20%;
    border-right: none;
    border-bottom: none;
  }
  &_gallery-r {
    top: 107%;
    right: 15%;
    border-left: none;
    border-top: none;
  }
  &_salon-l {
    border-left: none;
    border-top: none;
    right: -6%;
  }
  &_salon-r {
    left: -6%;
    border-right: none;
    border-bottom: none;
  }
  &_flats-l {
    top: -60px;
    left: 90%;
    border-right: none;
    border-bottom: none;
  }
  &_flats-r {
    top: -60px;
    left: 95%;
    border-left: none;
    border-top: none;
  }
  &_price-r {
    width: 18px;
    height: 18px;
    border-left: none;
    border-top: none;
    top: 5px !important;
    right: 10%;
  }
  &_price-l {
    width: 18px;
    height: 18px;
    border-right: none;
    border-bottom: none;
    top: 5px !important;
    left: 10%;
  }
}

@media screen and (max-width: 992px) {
  .slider-arr {
    &_flats-l {
      width: 18px;
      height: 18px;
      border-right: none;
      border-bottom: none;
      top: 2% !important;
      left: 20%;
    }
    &_flats-r {
      width: 18px;
      height: 18px;
      border-left: none;
      border-top: none;
      top: 2% !important;
      left: 80%;
    }
  }

}

@media screen and (min-width: 481px) and (max-width: 992px) {
  .slider-arr {
    top: 60%;
    &_prev {
      left: 20px;
    }
    &_next {
      right: 20px;
    }
    &_salon-l {
      right: -3%;
    }
    &_salon-r {
      left: -3%;
    }
    &_gallery-l {
      top: 108%; 
    }
    &_gallery-r {
      top: 108%;
    }
   
    &_mob-l {
      width: 18px;
      height: 18px;
      border-right: none;
      border-bottom: none;
      top: 0;
      left: 3%;
    }
    &_mob-r {
      width: 18px;
      height: 18px;
      border-left: none;
      border-top: none;
      top: 0;
      right: 3%;
    }
  }
}



@media screen and (max-width: 480px) {
  .slider-arr {
    top: 60%;
    &_prev {
      left: 20px;
    }
    &_next {
      right: 20px;
    }
    &_salon-l {
      right: -3%;
    }
    &_salon-r {
      left: -3%;
    }
    &_gallery-l {
      top: 108%; 
    }
    &_gallery-r {
      top: 108%;
    }
  
    &_mob-l {
      width: 18px;
      height: 18px;
      border-right: none;
      border-bottom: none;
      top: 0;
      left: 3%;
    }
    &_mob-r {
      width: 18px;
      height: 18px;
      border-left: none;
      border-top: none;
      top: 0;
      right: 3%;
    }
  }
}


.footer {
  background-color: #2a3037;
  color: #f7f7f7;
 
}

@media screen and (min-width: 1470px) {
  .container {
    max-width: 1440px;
  }
}


.dots-place {
  .slick-dots {
    position: relative;
    margin-bottom: 30px;
    bottom: 0px;
    display: flex;
    justify-content: flex-start;
    li {
      padding: 0;
      margin: 0;
      margin-right: 20px;
      background-color: #333333;
      height:   2px;
      width: 14px;
    }
    .slick-active {
     background-color: #49a9b2;
    }
  }
  &_gallery {
    .slick-dots {
      position: relative;
      margin-bottom: 30px;
      bottom: 0px;
      display: flex;
      justify-content: flex-start;
      li {
        padding: 0;
        margin: 0;
        margin-right: 20px;
        background-color: #333333;
        height: 2px;
        width: 14px;
      }
      .slick-active {
       background-color: #49a9b2;
      }
    }
  }
}
.slick-dotted {
  &.slick-slider {
    margin-top: 50px;
    margin-bottom: 15px;
  }
}


.title-serv {
  h2 {
    text-align: center;
    font-size: 1.875rem;
    font-family: $font-5;
    padding-top: 30px;
  }
  &_flt {
    a {
      color: #000000;
      text-decoration: none;
      font-style: bold;
      text-align: left;
      padding: 0;
      margin-top: 20px;
      font-size: 1.28rem;
    }
  }
}

@media screen and (max-width: 480px) {
  .title-serv {
    h2 {
      text-align: center;
      font-size: 1.875rem;
      font-family: $font-5;
      padding-top: 30px;
    }
    &_flt {
      a {
        color: #000000;
        text-decoration: none;
        font-style: bold;
        text-align: left;
        padding: 0;
        margin-top: 20px;
        font-size: 1rem;
      }
    }
  }
}

.item-serv {
    text-align: center;
    color: #373736;
    font-size: 3rem;
    p {
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    &:nth-child(2) {
    
      margin-bottom: 0.2rem;
    }
    
    &:nth-child(3) {
      font-family: $font-2;
      line-height: 1.1;
      margin-top: 0;
    }
  }
  &_aside {
    p { 
      font-family: $font-2;
    }
  }
}


.itm {
  background-color: #f7f8f8;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-top: 25px;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  &_4 {
    font-size:3rem;
    color: #49a9b2;
    text-align: center;
    p {
      font-size: 1rem;
      color: #373736;
    }
  }
}

@media screen and (max-width: 991px) {
  .itm {
    &_1 {
      h2 {
        text-align: left !important;
      }
    }
    h2 {
      font-family: $font-3 !important;
      font-size: 1.5rem;
      text-align: center;
    }
  }
}

.itm {
  &_4 {
    p {
      b {
        font-size: 1.25rem;
      }
    }
    
  }
}

.secure-list {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: block;
    padding-left: 80px;
    position: relative;
    &:first-child {
      margin-top: 0;
      i {
        transform: translate(0, -50%) rotate(-90deg);
        font-size: 4.125rem;
      }
    }
    i {
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      font-size: 1.875rem;
      color: #49a9b2;
      width: 50px;
      text-align: center;
      transform-origin: 50% 50%;
      transform: translate(0, -50%);
    }
    font-family: $font-2;
    font-size: 1rem;
    margin-top: 3.125rem;
  }
}

.left-bar {
  h2 {
    font-family: $font-6;
  }
  .item-serv {
    .icon {
      color: #49a9b2;
    }
  }
  .wrp {
    display: flex;
    margin-top: 25px;
    
    position: relative;
    p {
      font-family: $font-2;
      position: absolute;
      right: 10%;
      float: right;
    }
    .icon {
      font-size: 2rem;
      color: #49a9b2;
      vertical-align: middle;
    }
  }
}

.menu-itm {
  .bottom-wrp {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
    width: 100%;
    margin: 0;
  }
  position: relative;
  &:hover {
    .bottom-wrp {
      display: block;
    }
  }
}


.itm-wrp {
  display: flex;
  vertical-align: middle;
  margin-top: 30px;
  margin-bottom: 11px;
  a {
    color: #000000;
  }
  .flat-list {
    list-style: none;
    display: flex;
    font-size: 1.31rem;
  }
  a {
    text-decoration: none;
    border-color: #48a9b1;
    font-size: 1rem;
    position: relative;
    display: inline-block;
    &::after {
      content: '';
      display: block;
      width: 75%;
      height: 1px;
      position: absolute;
      top: 100%;
      left: 10%;
      background-color: #49a9b2;
    }
  }
}


.mn-content {
  background-color: #f7f8f8;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.09);
  .icon {
    font-size: 3rem;
  }
  .mn-list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 3rem;
  }
}



.banner {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 215px 0 66px;

    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(33, 33, 33,.5);
      height: 100%;
      width: 100%;
    }
  
  * {
    color: #fff;
  }
  h2 {
    font-family: $font-6;
    font-size: 3.6rem;
  }
  p {
    margin-top: 1rem;
    font-family: $font-2;
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 992px) {
  .banner {
    padding: 155px 0 65px;
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .banner {
    padding: 115px 0 65px;
    h2 {
      font-size: 3rem;
    }
    p {
      font-size: 1.5rem;
    }
  }
}

.write-to-us {
  padding: 40px;
  background-color: #f7f8f8;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  .write-title {
    font-size: 1.875rem;
    font-family: $font-5;
  }
  .insert-group {
    width: 50%;
    border-bottom: 1px solid #48a9b1;
    padding-left: 8px;
    label {
      width: 100%;
    }
    input {
      width: 100%;
      border: none;
      background-color: transparent;
      line-height: 1.5;
      font-size: 1rem;
      font-family: $font-5;
    }  
  }
  .bottom-content {
    .insert-group {
      border:none;
      width: 100%;
      padding: 0;
      label {
        padding-left: 8px;
      }
      #txt-feedback { 
        outline: none;
        margin: 0;
        padding: 0;
        height: 1rem * 4.6;
        line-height: 1.5rem;
        padding-left: 8px;
        border-bottom: 1px solid #48a9b1;
        background-image: linear-gradient(to bottom, transparent 1.5rem, #48a9b1 1.5rem);
        background-size: 100% 1.5rem + .0625rem;
        background-color: transparent;
        overflow: hidden;
        width: 100%;
        border: none;
        resize: none;
        font-size: 1rem;
        font-family: $font-5;
    
        height: 100px;
      }
    }
  }
  .send-button {
    a {
      padding: 8px 120px;
    }
  }
}


@media screen and (max-width: 992px) {
  .write-to-us {
    padding: 5px;
    background-color: #f7f8f8;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    .write-title {
      h2 {
        font-size: 1.5rem;
        font-family: $font-5;
      }
    }
    .insert-group {
      margin-top: 10px;
      width: 100%;
      border: none;
      padding: 0;
      label {
        padding-left: 0;
        width: 100%;
        font-size: 0.8rem;
      }
      input {
        padding-top: 5px;
        padding-bottom: 5px;
        width: 100%;
        border-bottom: none;
        border: 1px solid #48a9b1;
        background-color: transparent;
        line-height: 1.5;
        font-size: 0.8rem;
        padding-left: 5px;
        font-family: $font-5;
      }  
    }
    .bottom-content {
      .insert-group {
        border:none;
        width: 100%;
        padding: 0;
        label {
          padding-left: 0;
          font-size: 0.8rem;
        }
        #txt-feedback { 
          font-size: 0.8rem;
          border: 1px solid #48a9b1;
          background-image: none;
          overflow: hidden;
          width: 100%;
          height: 100px;
        }
      }
    }
    .send-button {
      a {
        padding: 7px 60px;
        margin-bottom: 30px;
        text-align: center;
      }
    }
  }
}

.preloader {
  *[data-js="main-carousel"],
  *[data-js="beauty-carousel"],
  *[data-js="gallery-carousel"],
  *[data-js="salon-carousel"],
  *[data-js="flat-carousel"] {
    height: 0 !important;
    overflow: hidden !important;
    opacity: 0 !important;
  }
}