body, html {
  min-width: 320px;
}
@media screen and (max-width: 992px) {
  font-size: 12px;
}

h1,h2,h3,h4,h5,h6,p,span,ul,a {
  margin: 0;
  padding: 0;
}

p {
  & + p {
    margin-top: 1rem;
  }
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 992px) {
  #map {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 56%;
  }
}
.icon {
  margin-right: 10px;
  vertical-align: middle;
}


.title-wrapper {
  display: flex;
  justify-content: flex-end;
}
/* ----------- Section title ----------- */
.section-title {
  margin-bottom: 1.875rem;
  h2 {
    font-family: $font-4;
    font-size: 3.125rem;
  }
}
@media screen and (max-width: 992px) {
  .section-title {
    h2 {
      font-size: 2.5rem;
    }
  }
}
/* ------------------------------------ */

.z-index-9999 {
  z-index: 9999;
  position: relative;
}


.bg {
  background-position: 0 0;
  height: 945px;
}

.btn {
  border-radius: 0;
  &_big {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: #51bac2;
    color: #ffffff;
    font-family: $font-3;
    transition: all .3s ease-in-out;
    &:hover {
      color: #fff;
      background-color: darken(#51bac2, 5%);
    }
  }
  &_small {
    width: 60%;
  }
} 


.pag-nav {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style: none;
  li {
    text-align: center;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #ffffff;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
    a {
      display: block;
      width: 26px;
      line-height: 26px;
      transition: all .3s ease-in-out;
      &:hover {
        background-color: #51bac2;
        color: #fff;
      }
    }
  }
}

.btn-classic {
  text-decoration: none;
  display: block;
  border: 1px solid #49a9b2;
  color: #000000;
  font-family: $font-3;
  text-align: center;
  font-size: 1.125rem;
  padding-top: 4px;
  padding-bottom: 4px;
  transition: all .3s ease-in-out;
  &:hover {
    background-color: #49a9b2;
    color: #fff;
  }
}

/* Content line */
.content-line {
  margin-top: 50px;
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  .text-baner {
    margin: 15.625rem 0 0;  
    text-align: center;
    background-color: rgba(50, 56, 63, 0.95);  
    color: #ffffff;
    font-size: 1.875rem;
    font-family: $font-1;
    p {
      margin: 0;
      padding: 0;
    }
  }
  .info-baner {
    display: inline-block;
    padding: 30px;
    margin: 9.375rem 0 0;
    background-color: #f7f8f8;
    * {
      color: #373736;
    }
    h2,h4 {
      font-family: $font-4;
    }
    h2 {
      font-size: 3.125rem;
      padding: 0;
      margin: 0 0 1.5rem 0;
    }
    h4 {
      font-size: 1rem;
      margin-top: 2.125rem;
    }
    p {
      font-family: $font-2;
      max-width: 434px;
      margin: 0;
      padding: 0;
      & + p {
        margin-top: 1rem;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        font-family: $font-2;
        &:before {
          content: '-';
          margin-right: 0.4rem;
        }          
      }
    }
  }
  .contact-baner {
    display: inline-block;
    padding: 30px;
    margin: 9.375rem 0 0;
    background-color: #f7f8f8;
    * {
      color: #373736;
    }
    h2,h4 {
      font-family: $font-4;
    }
    h2 {
      font-size: 3.125rem;
      padding: 0;
      margin: 0 0 1.5rem 0;
    }
    h4 {
      font-size: 1rem;
      margin-top: 2.125rem;
    }
    p {
      font-family: $font-2;
      max-width: 434px;
      margin: 0;
      padding: 0;
      & + p {
        margin-top: 1rem;
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        margin: 0;
        font-family: $font-2;
        max-width: 434px;
        margin: 0;
        padding: 0;
        font-size: 1rem;
      }
    }
    li {
      position: relative;
      p {
        padding-left: 30px;
      }
      a {
        padding-left: 30px;
      }
      .icon {
        position: absolute;
        margin-right: 10px;
        vertical-align: middle;
        &-1 {
          font-size: 1rem;
      
        }
        &-2 {
          font-size: 1.2rem;
          left: 3px;
        }
        &-3 {
          font-size: 1.2rem;
      
        }
        &-4 {
          font-size: 1.2rem;
        }
        &-5 {
          font-size: 1.2rem;
          left: 3px;
        }
      }
    }
    
  }
  &_map {
    padding: 12.5rem 0;
  }
}
@media screen and (max-width: 992px) {
  .content-line {
    &_map {
      padding: 1rem 0 0;

    }
    .info-baner {
      margin-top: 5.6rem;
      h2 {
        font-size: 2.5em;
      }
    }
    .text-baner {
      margin-top: 5.6rem;
      font-size: 0.875rem;
    }
    .contact-baner {
      margin-top: 0;
      h2 {
        font-size: 2.5rem;
      }
    }
  }  
}

.descriptions {
  width: 80%;
  p {
    font-family: $font-2;
    b {
      font-family: $font-5;
      display: block;
    }
  }
}

a {
  color: currentColor;
  &:hover {
    color: currentCOlor;
    text-decoration: none;
  }
}

.main-carousel {
  padding-bottom: 17px;
  background-color: #f8f8f8;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
  
}

.slide-outer {
  padding-top: 56%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-arr {
  display: block;
  width: 12px;
  height: 12px;
  border:  3px solid black;
  top: 50%;
  position: absolute;
  transform: rotate(-45deg);
 
  &_prev {
    border-right: none;
    border-bottom: none;
    z-index: 6000;
    left: 50px;
  }
  &_next {
    right: 50px;
    border-left: none;
    border-top: none;
  }
}

@media screen and (max-width: 768px) {
  .slider-arr {
    top: 60%;
    &_prev {
      left: 20px;
    }
    &_next {
      right: 20px;
    }
  }
}


.footer {
  background-color: #2a3037;
  color: #f7f7f7;
}

@media screen and (min-width: 1470px) {
  .container {
    max-width: 1440px;
  }
}