$icomoon-font-path: "../fonts" !default;

$icon-27: "\e900";
$icon-26: "\e901";
$icon-25: "\e902";
$icon-24: "\e903";
$icon-23: "\e904";
$icon-22: "\e905";
$icon-21: "\e906";
$icon-20: "\e907";
$icon-19: "\e908";
$icon-18: "\e909";
$icon-17: "\e90a";
$icon-16: "\e90b";
$icon-15: "\e90c";
$icon-14: "\e90d";
$icon-13: "\e90e";
$icon-12: "\e90f";
$icon-11: "\e910";
$icon-10: "\e911";
$icon-9: "\e912";
$icon-8: "\e913";
$icon-7: "\e914";
$icon-6: "\e915";
$icon-5: "\e916";
$icon-4: "\e917";
$icon-3: "\e918";
$icon-2: "\e919";
$icon-1: "\e91a";

@font-face {
  font-family: 'icon-font';
  src:  url('#{$icomoon-font-path}/icon-font.eot?dtkq21');
  src:  url('#{$icomoon-font-path}/icon-font.eot?dtkq21#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/icon-font.ttf?dtkq21') format('truetype'),
    url('#{$icomoon-font-path}/icon-font.woff?dtkq21') format('woff'),
    url('#{$icomoon-font-path}/icon-font.svg?dtkq21#icon-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-font' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-27 {
  &:before {
    content: $icon-27; 
  }
}
.icon-26 {
  &:before {
    content: $icon-26; 
  }
}
.icon-25 {
  &:before {
    content: $icon-25; 
  }
}
.icon-24 {
  &:before {
    content: $icon-24; 
  }
}
.icon-23 {
  &:before {
    content: $icon-23; 
  }
}
.icon-22 {
  &:before {
    content: $icon-22; 
  }
}
.icon-21 {
  &:before {
    content: $icon-21; 
  }
}
.icon-20 {
  &:before {
    content: $icon-20; 
  }
}
.icon-19 {
  &:before {
    content: $icon-19; 
  }
}
.icon-18 {
  &:before {
    content: $icon-18; 
  }
}
.icon-17 {
  &:before {
    content: $icon-17; 
  }
}
.icon-16 {
  &:before {
    content: $icon-16; 
  }
}
.icon-15 {
  &:before {
    content: $icon-15; 
  }
}
.icon-14 {
  &:before {
    content: $icon-14; 
  }
}
.icon-13 {
  &:before {
    content: $icon-13; 
  }
}
.icon-12 {
  &:before {
    content: $icon-12; 
  }
}
.icon-11 {
  &:before {
    content: $icon-11; 
  }
}
.icon-10 {
  &:before {
    content: $icon-10; 
  }
}
.icon-9 {
  &:before {
    content: $icon-9; 
  }
}
.icon-8 {
  &:before {
    content: $icon-8; 
  }
}
.icon-7 {
  &:before {
    content: $icon-7; 
  }
}
.icon-6 {
  &:before {
    content: $icon-6; 
  }
}
.icon-5 {
  &:before {
    content: $icon-5; 
  }
}
.icon-4 {
  &:before {
    content: $icon-4; 
  }
}
.icon-3 {
  &:before {
    content: $icon-3; 
  }
}
.icon-2 {
  &:before {
    content: $icon-2; 
  }
}
.icon-1 {
  &:before {
    content: $icon-1; 
  }
}

