/* HEADER */
.header  {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  &__top-section {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #2a3037;
    .lang-nav {
      ul {  
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          a {
            text-decoration: none;
            color: #ffffff;
            border-bottom: 1px solid transparent;
            margin-right: 10px;
            padding: 0 5px;
            transition: all .3s ease-in-out;
            &.current, &:hover {
              border-color: #48a9b1;
            }
          }
        }
      }
    }   
    .contacts-nav {
      margin-left: 20px;
    
      ul {  
        display: flex;    
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          a {
            text-decoration: none;
            color: #ffffff;
          }
          &:first-child {
            margin-right: 1.5rem;
          }
        }
      }
    }
  }
  &__nav-section {
    background-color: rgba(247,247,247,.8);
    .main-nav {
      ul {
        display: flex;
        justify-content: flex-end;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          margin-left: 10px;
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
          a {
          text-decoration: none;
          font-family: $font-2;
          color: #333333;
          font-size: 1.2rem;
          white-space: nowrap;
          &:hover {
            color: #5a9599;
            }
          }
        }
      }
    }
    .contacts-nav {
      li:first-child {
        margin-right: 0.5rem;
      }
    }
    &__bg-none {
      background-color: transparent;
      border-bottom: 1px solid #ebe9e8;
    }
  }
}
@media screen and (max-width: 1200px) {
  .header {
    position: relative;
    &__top-section {
      background-color:rgba(247,247,247,.8);
      padding: 0;
      
     .icon-5 {
       font-size: 1.5rem;
     }
     .icon-4 {
      font-size: 1.5rem;
    }
    }
    &__nav-section {
      background-color: rgba(247,247,247,.8);
      display: none;
      .main-nav {
        ul {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          list-style: none;
          text-align: right;
          margin: 0;
          padding: 0;
          li {
            margin-left: 20px;
            margin-right: 5px;
            &:last-child {
              margin-right: 5px;
            }
            a {
            text-decoration: none;
            font-family: $font-2;
            color: #333333;
            font-size: 1.3rem;
            white-space: nowrap;
            &:hover {
              color: #5a9599;
              }
            }
          }
        }
      }
    }
    .burger-button {
      display: block;
      width: 30px;
      height: 30px;
      position: relative;
      float: right;
      span {
        display: block;
        width: 80%;
        height: 1px;
        background-color: #1d2126;
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translate(0, -50%);
        transition: all .3s ease-in-out;
      }
      &:before, &:after {
        content: '';
        display: block;
        width: 80%;
        height: 1px;
        background-color: #1d2126;
        position: absolute;
        left: 10%;
        transform-origin: 50% 50%;
        transition: all .3s ease-in-out;
      }
      &:before {
        top: 10px;
      }
      &:after {
        top: calc(100% - 10px);
      }
      &.clicked {
        span {
          opacity: 0;
        }
        &:before {
          top: 50%;
          transform: translate(0, -50%) rotate(135deg);
        }
        &:after {
          top: 50%;
          transform: translate(0, -50%) rotate(225deg);
        }
      }
    }
    .contacts-nav{
      vertical-align: middle;
    }
  }
}

.header {
  .mobile-icon {
    a {
      color: #333333;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .mobile-icon {
      width: 130px;
    }
  }
}


.teaser-2 {
  p {
    color: #373736;
    font-family: $font-1;
    font-size: 1.25rem;
    line-height: 1.2;
    b {
      font-family: $font-3;
    }
    &:last-child {
      font-size: 1rem; 
    }
  }
  .btn-classic {
    margin-top: 1.5rem;
  }
}

.bg-img-wrapper {
  min-height: 300px;
  div {
    background-repeat: no-repeat;
    background-position: 0 50%;
    background-size: cover;
    height: 100%;

  }
}

.gallery-carousel {
  &__slide {
   padding: 0 10px;
  }
}


.slide-outer {
  min-height: 100vh;
  width: 100%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover; 
  &__gallery {
    min-height: 38vh;
    width: 100%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover; 
   
  } 
  &__beauty {
    min-height: 65vh;
  }
}

@media screen and (max-width:480px) {
  .slide-outer {
    min-height: 50vh;
  }
}





.white-block {
  position: relative;
  background-color: #ffffff;
  padding: 20px 20px;
  .inner-block {
    padding: 50px 20px;
    border: 2px solid #97cfd4;
  }
}



@media screen and (max-width: 992px) {
  .small-menu-with-dots {
    li {
      margin-top: 3px;
      margin-bottom: 3px;
      display: flex;
      font-family: $font-9;
      flex-flow: row wrap;
      position: relative;
      justify-content: space-between;
      padding-left: 15px;
      &::before {
        content: '';
        display: inline-block;
        left: 0;
        top: 15px;
        position: absolute;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #97cfd4;
      }
    }
    &__ln {
      list-style: none;
      li {
        margin-top: 5px;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        justify-content: space-between;
      }
    }
    &__mp {
      li {
        margin-top: 5px;
        display: flex;
        flex-flow: row wrap;
        position: relative;
        justify-content: space-between;
        padding-left: 15px;
        &::before {
          content: '';
          display: inline-block;
          left: 5px;
          top: 10px;
          position: absolute;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: #97cfd4;
        }
      }
    }
    &__sublist {
      width: 100%;
      li {
        
        justify-content: flex-end;
        span {
          &:first-child {
            margin-right: 15px;
          }
        }
        &:before {
          display: none;
        }
      }
    }    
  } 
  
}


.item-list {
  li {
    margin-top: 5px;
    display: flex;
    font-family: $font-9;
    flex-flow: row wrap;
    position: relative;
    justify-content: space-between;
    padding-left: 15px;
    &::before {
      content: '';
      display: inline-block;
      left: 0;
      top: 10px;
      position: absolute;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #97cfd4;
    }
  }
  &__ln {
    list-style: none;
    li {
      margin-top: 5px;
      display: flex;
      flex-flow: row wrap;
      position: relative;
      justify-content: space-between;
    }
  }
  &__mp {
    li {
      margin-top: 5px;
      display: flex;
      flex-flow: row wrap;
      position: relative;
      justify-content: space-between;
      padding-left: 15px;
      &::before {
        content: '';
        display: inline-block;
        left: 5px;
        top: 10px;
        position: absolute;
        width: 3px;
        height: 3px;
        border-radius: 50%;
        background-color: #97cfd4;
      }
    }
  }
  &__sublist {
    width: 100%;
    li {
      
      justify-content: flex-end;
      span {
        &:first-child {
          margin-right: 15px;
        }
      }
      &:before {
        display: none;
      }
    }
  }    
} 

.items-deluxe {
  li {
    margin-top: 5px;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: space-between;
    padding-left: 15px;
    &::before {
      content: '';
      display: inline-block;
      left: 0;
      top: 10px;
      position: absolute;
      width: 3px;
      height: 3px;
      border-radius: 50%;
      background-color: #97cfd4;
    }
  }
}



.flat-nav {
  ul {  
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 8px;
    border-bottom: 2px solid #f1f2f2;
    li {
      a {
        font-family: $font-2;
        font-size: 1.25rem;
        text-decoration: none;
        color: #373736;
        border-bottom: 2px solid transparent;
        margin-right: 10px;
        padding: 0 5px;
        transition: all .3s ease-in-out;
        padding-bottom: 12px;
        &.current, &:hover {
          border-color: #48a9b1;
          color: #48a9b1;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .text-t {
    h2 {
      font-size: 1.25rem;
      text-align: center;
    }
  }
  .flat-nav {
    ul {  
     justify-content: space-between;
      li {
        a { 
          font-size: 0.8rem;
        }
      }
    }
  }
}


@media screen and (min-width: 481px) and (max-width: 768px) {
  .text-t {
    h2 {
      font-size: 2rem;
      text-align: center;
    }
  }
  .flat-nav {
    ul {  
     justify-content: space-between;
      li {
        a { 
          font-size: 1rem;
        }
      }
    }
  }
}

.flat-txt {
  justify-content: space-between;
  margin-top: 10px;
  font-size: 1rem;
  p {
    margin: 0;
    span {
     
      color: #51bac2;
    }
  }
}

@media screen and (max-width: 1200px) {
  .flat-txt {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .flat-txt {
    font-size: 0.8rem;
  }
}

.info-item {
  font-size: 1.5rem;
  p {
    font-size: 1rem;
    span {
      font-family: $font-5;
    }
  }
}

@media screen and (max-width: 480px) {
  .info-item {
    font-size: 1.5rem;
    p {
      
      font-size: 0.8rem;
      span {
        font-family: $font-5;
      }
    }
  }
}
.separator {
  display: block;
  height: 1px;
  background-color: #efeff0;
  margin-top: 20px;
  margin-bottom: 20px;
  &_search {
    margin: 5px;
    margin-top: 5px;
    margin-right: 0;
    margin-left: 0;
  }
  &_mob {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
}

.flat-carousel {
  .slick-list {
    transition: all .3s ease-in-out;
  }
  .slick-list {
    padding-bottom: 152px;
  }
}
