/* Nice select */
.nice-select {
  width: 100%;
  
  float: none;
  background-image: none;
  border: none;
  background-color: transparent;
  font-size: 0.8rem;
  
  padding-top: 0;
  padding-bottom: 0;
  &::after {
    height: 10px;
    width: 10px;
    border-bottom: 2px solid #434241;
    border-right: 2px solid #434241;
    
  
  }
  
}



label {
  width: 50%;
  margin-bottom: 0 !important;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-family: $font-9;
  span {
    font-family: $font-6;
  }
  
}


/* FAQ accordion */


.faq-header {
  font-family: $font-5;
  font-size: 3.125rem;
}


.accordion {
  text-decoration: none;
  padding: 60px;
  background-color: #f7f8f8;
  &:hover {
    text-decoration: none;
  }
  .card {
    border: none;
    margin: 0;
    padding: 0;
    background-color: none;
    background: none;
    .card-header {
        border: none;
        padding: 20px 0;
        margin: 0;
        height: auto;
        background-color: none;
        background: none;
        font-family: $font-5;
        color: #373736;
        text-decoration: none;

      &:hover {
        text-decoration: none;
      }
      button {
   
        color: #373736;
        position: relative;
        margin: 0;
        padding: 0 30px 0 15px;
        &:hover {
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }
        &:before {
          content: '';
          display: block;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background-color: #71bdc2;
          position: absolute;
          left: 5px;
          top: 10px;
        }
        .plus {
          display: block;
          width: 16px;
          height: 16px;
          position: absolute;
          right: 3px;
          top: 15%;
          &:before, &:after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background-color: #71bdc2;
            position: absolute;
            transform-origin: 50%;
          }
          &:before {
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
          }
          &:after {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) rotate(0);
            transition: all .3s ease-in-out;
          }
        }
        &.collapsed {
          .plus {
            &:after {
              transform: translate(-50%, -50%) rotate(90deg);
            }
          }
        }
      }
    }
    .card-body {
      padding: 0 0 0 70px;
      margin: 0;
    }
  }
}
@media screen and (max-width: 768px) {
  .faq {
    .faq-header {
      h2 {
        font-size: 2rem !important;
        padding-left: 5px;
        padding-right: 5px;
      }
    }
  }
  .accordion {
  
    padding: 10px;
  
    .card {

      .card-header {
     
        .btn-link {
        
        }
        button {
          text-align: left;
          white-space: normal; 
          position: relative;
          font-size: 0.8rem;
        }
      }
      .card-body {
        font-size: 0.8rem;
      }
    }
  }
}




/* Calendar */


.ui-datepicker {


  border: none;
  padding: 0;


  th {
    padding: .7em .3em;
    padding-top: 0.2rem;
    text-align: center;
    font-weight: normal;
    font-family: $font-9;
    border: 0;
  }
  td {
    font-family: $font-5;
  }
  td:hover {
    background-color: #71bdc2;
    a {
      color: #ffffff;
    }
  }

  .ui-state-default {
    border: none;
    background: none;
    font-weight: normal;
  
    padding: 3px;
    text-align: center;
    color: #333333
  }
}

.ui-state-hover {
  background: none !important;
}

.ui-widget.ui-widget-content {
  border: none;
  box-shadow: 0 1px 10px rgba(0,0,0,.1);
}

.ui-widget-header {
   border: none;
   background: none;
   color: #333333; 
   font-weight: normal;
   text-align: left;
   .ui-datepicker-title {
     border-bottom: 1px solid #71bdc2;
      margin-left: 0;
      margin-right: 0;
      line-height: 1.8em;
      text-align: left;
      span {
        padding-left: 8px;
        font-family: $font-5;
      }
  }
  .ui-icon {
    background-image: none;
  }
  .ui-corner-all {
    border-radius: none;
  }
  .ui-datepicker-prev {
    border-radius: 0;
    left: 210px;
    display: block;
    width: 12px;
    height: 12px;
    border:  2px solid #333333;
    transform: rotate(-45deg);
    border-right: none;
    border-bottom: none;
    top: 30%;
  }
  .ui-datepicker-next {
 
    border-radius: 0;
    display: block;
    width: 12px;
    height: 12px;
    border:  2px solid #333333;
    transform: rotate(-45deg);
    border-left: none;
    border-top: none;
    top: 30%;
    left: 260px;
  } 
}

.ui-datepicker-current-day .ui-state-active {
  background: #71bdc2 !important;
}



@media screen and (max-width: 480px) {
  .ui-datepicker {

    border: none;
    padding: 0;
    th {
      font-size: 0.8rem;
      padding: .7em .3em;
      padding-top: 0.2rem;
      text-align: center;
      font-weight: normal;
      border: 0;
    }
    td {
      font-size: 0.8rem;
    }
    td:hover {
      background-color: #71bdc2;
      a {
        color: #ffffff;
      }
    }
  
    .ui-state-default {
      border: none;
      background: none;
      font-weight: normal;
    
      padding: 3px;
      text-align: center;
      color: #333333
    }
  }
  
  .ui-widget.ui-widget-content {
    border: none;
    box-shadow: 0 1px 10px rgba(0,0,0,.1);
  }
  
  .ui-widget-header {
     border: none;
     background: none;
     color: #333333; 
     font-weight: normal;
     text-align: left;
     .ui-datepicker-title {
       border-bottom: 1px solid #71bdc2;
        margin-left: 0;
        margin-right: 0;
        line-height: 1.8em;
        text-align: left;
        span {
          padding-left: 8px;
          font-size: 0.8rem;
        }
    }
    .ui-icon {
      background-image: none;
    }
    .ui-corner-all {
      border-radius: none;
  }
    .ui-datepicker-prev {
      background-color: transparent;
      border-radius: 0;
      left: 210px;
      display: block;
      width: 12px;
      height: 12px;
      border:  2px solid #333333;
      transform: rotate(-45deg);
      border-right: none;
      border-bottom: none;
      top: 30%;
    }
    .ui-datepicker-next {
      background-color: transparent;
      border-radius: 0;
      display: block;
      width: 12px;
      height: 12px;
      border:  2px solid #333333;
      transform: rotate(-45deg);
      border-left: none;
      border-top: none;
      top: 30%;
      left: 260px;
    }
   
    
  }
  
}