{{#foot}}
  {{#vendor-scripts}}
    {{#jquery}}
      <!-- Jquery -->
      <script src="assets/js/vendors/jquery-3.3.1.js"></script>
    {{/jquery}}
    {{#slick-slider}}
      <!-- Slick slider -->
      <script src="assets/js/vendors/slick.min.js"></script>
    {{/slick-slider}}
    {{#aos}}
      <!-- Animate on scroll -->
      <script src="assets/js/vendors/aos.js"></script>
    {{/aos}}
    {{/vendor-scripts}}
      <!-- Custom script -->
      <script src="assets/js/script.min.js"></script>

      <script>
        var mainCarousel = $('*[data-js="main-carousel"]').length;
        if(mainCarousel > 0) {
          $('*[data-js="main-carousel"]').slick({
            slidesToShow: 1,
            slideToScroll: 1,
            autoplay: false,
            autoplaySpeed: 4000,
            infinite: true,
            arrows: true,
            prevArrow: "<a href=\"#\" class=\"slider-arr slider-arr_prev\"></a>",
            nextArrow: "<a href=\"#\" class=\"slider-arr slider-arr_next\"></a>",
          });
        }
      </script>
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxkUUlSbRNNNbTvIKVa1tLmbhQfrgq45g&callback=initMap">
      </script>
    </body>
  </html>
{{/foot}}