<footer class="footer py-3">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; Family Residence Boutique Hotel </p>
      </div>
    </div>
  </div>
</footer>