{{#foot}}
  {{#vendor-scripts}}
    {{#jquery}}
      <!-- Jquery -->
      <script src="assets/js/vendors/jquery-3.3.1.js"></script>
    {{/jquery}}
    {{#m-height}}
      <!-- Jquery -->
      <script src="assets/js/vendors/jquery.matchHeight-min.js"></script>
    {{/m-height}}
    {{#slick-slider}}
      <!-- Slick slider -->
      <script src="assets/js/vendors/slick.min.js"></script>
    {{/slick-slider}}
    {{#nice-select}}
    <!-- Slick slider -->
    <script src="assets/js/vendors/jquery.nice-select.js"></script>
    {{/nice-select}}
    {{#bt-js}}
    <script src="assets/js/vendors/bootstrap.min.js"></script>
    {{/bt-js}}
    {{#aos}}
      <!-- Animate on scroll -->
      <script src="assets/js/vendors/aos.js"></script>
    {{/aos}}
    {{#map}}
      <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxkUUlSbRNNNbTvIKVa1tLmbhQfrgq45g&callback=initMap">
      </script>
      <script>
        // Google Maps
        function initMap() {
          var markerPos = {lat: 49.840594, lng: 24.023675};
          var centerPos = {lat: markerPos.lat, lng: markerPos.lng - 0.001};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: centerPos,
            disableDefaultUI: true
          });
          
          var marker = new google.maps.Marker({
            position: markerPos,
            map: map,
            icon: 'assets/img/mapID.png',
            title: 'Family residence'
          });
        }
      </script>
    {{/map}}
    {{/vendor-scripts}}
      <!-- Custom script -->
      <script src="assets/js/script.min.js"></script>
      <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  

      <script>
        var mainCarousel = $('*[data-js="main-carousel"]').length;
        var beautyCarousel = $('*[data-js="beauty-carousel"]').length;
        var galleryCarousel = $('*[data-js="gallery-carousel"]').length;
        var salonCarousel = $('*[data-js="salon-carousel"]').length;
        var flatCarousel = $('*[data-js="flat-carousel"]').length;
        var mobCarousel_1 = $('*[data-js="mob-carousel-1"]').length;
        var mobCarousel_2 = $('*[data-js="mob-carousel-2"]').length;
        var mobCarousel_3 = $('*[data-js="mob-carousel-3"]').length;

        if(mainCarousel > 0) {
          $('*[data-js="main-carousel"]').slick({
            slidesToShow: 1,
            slideToScroll: 1,
            autoplay: false,
            autoplaySpeed: 4000,
            infinite: true,
            arrows: true,
            prevArrow: "<a href=\"#\" class=\"slider-arr slider-arr_prev d-xl-block d-none\"></a>",
            nextArrow: "<a href=\"#\" class=\"slider-arr slider-arr_next d-xl-block d-none \"></a>",
          });
        }

        if(beautyCarousel > 0) {
          $('*[data-js="beauty-carousel"]').slick({
            slidesToShow: 1,
            slideToScroll: 1,
            autoplay: false,
            autoplaySpeed: 4000,
            infinite: true,
            arrows: true,
            prevArrow: "<a href=\"#\" class=\"slider-arr slider-arr_left d-none d-lg-none\"></a>",
            nextArrow: "<a href=\"#\" class=\"slider-arr slider-arr_right d-none d-lg-none\"></a>",
            dots: true,
            appendDots: $('.beauty-carousel .dots-place'),
          });
        }

        if(galleryCarousel > 0) {
          $('*[data-js="gallery-carousel"]').slick({
            slidesToShow: 2,
            centerMode: true,
            centerPadding: '150px',
            slideToScroll: 1,
            autoplay: false,
            autoplaySpeed: 4000,
            infinite: true, 
            arrows: true,
            prevArrow: "<a href=\"#\" class=\"slider-arr slider-arr_gallery-l d-none d-lg-block\"></a>",
            nextArrow: "<a href=\"#\" class=\"slider-arr slider-arr_gallery-r d-none d-lg-block\"></a>",
            dots: true,
            appendDots: $('.gallery-carousel .dots-place_gallery'),
            responsive: [
              {
                breakpoint: 481,
                settings: {
                  centerMode: false,
                  slidesToShow: 1,
                  centerPadding: '0',
                }
              },{
                breakpoint: 768,
                settings: {
                  slidesToShow: 2,
                  centerPadding: '0',
                }
              }
            ]
          });
        }

          if(salonCarousel > 0) {
          $('*[data-js="salon-carousel"]').slick({
            slidesToShow: 1,
            slideToScroll: 1,
            autoplay: false,
            autoplaySpeed: 4000,
            infinite: true,
            arrows: true,
            prevArrow: "<a href=\"#\" class=\"slider-arr slider-arr_salon-l \"></a>",
            nextArrow: "<a href=\"#\" class=\"slider-arr slider-arr_salon-r \"></a>",
            dots: true,
            appendDots: $('.salon-carousel .dots-place'),
          });
        }


        if(flatCarousel > 0) {
          $('*[data-js="flat-carousel"]').slick({
            slidesToShow: 3,
            slideToScroll: 1,
            autoplay: false,
            adaptiveHeight: true,
            autoplaySpeed: 4000,
            infinite: true,
            arrows: true,
            prevArrow: "<a href=\"#\" class=\"slider-arr slider-arr_flats-l\"></a>",
            nextArrow: "<a href=\"#\" class=\"slider-arr slider-arr_flats-r\"></a>",
            responsive: [
              {
                breakpoint: 992,
                settings: {
                  slidesToShow: 1,
                }
              }
            ]
          });
        }
        if(mobCarousel_1 > 0) {
          $('*[data-js="mob-carousel-1"]').slick({
            slidesToShow: 1,
            slideToScroll: 1,
            autoplay: false,
            autoplaySpeed: 4000,
            infinite: true,
            arrows: true,
            prevArrow: "<a href=\"#\" class=\"slider-arr slider-arr_mob-l\"></a>",
            nextArrow: "<a href=\"#\" class=\"slider-arr slider-arr_mob-r\"></a>",
          });
        }

         if(mobCarousel_2 > 0) {
          $('*[data-js="mob-carousel-2"]').slick({
            slidesToShow: 1,
            centerMode: true,
            centerPadding: '150px',
            slideToScroll: 1,
            autoplay: false,
            autoplaySpeed: 4000,
            infinite: true,
            arrows: false,
            responsive: [
              {
                breakpoint: 768,
                settings: {
                  centerMode: false
                }
              }
            ]
          });
        }


          if(mobCarousel_3 > 0) {
          $('*[data-js="mob-carousel-3"]').slick({
            slidesToShow: 1,
            slideToScroll: 1,
            autoplay: false,
            autoplaySpeed: 4000,
            adaptiveHeight: true,
            infinite: true,
            arrows: true,
            prevArrow: "<a href=\"#\" class=\"slider-arr slider-arr_price-l\"></a>",
            nextArrow: "<a href=\"#\" class=\"slider-arr slider-arr_price-r\"></a>",
          });
        }
      </script>
    </body>
  </html>
{{/foot}}