<header class="header">
  <div class="header__top-section">
    <div class="container">
      <div class="row ">
        <div class="col-12 col-lg-12 d-flex justify-content-between">
          <div class="lang-nav">
            <ul>
              <li><a href="#" class="current">uk</a></li>
              <li><a href="#">eng</a></li>
            </ul>
          </div>
          <div class="contacts-nav">
            <ul>
              <li>
                <i class="icon icon-message"></i>
                <a href="mailto:Family@Residence.com.ua">Family@Residence.com.ua</a>
              </li>
              <li>
                <i class="icon icon-phone"></i>
                <a href="tel:+380672668263">+ 38 067 266 8263</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header__nav-section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-3">
          <a href="#">
            <img src="assets/img/logo.png" alt="#" class="img-fluid">
          </a>
        </div>
        <div class="col-9">
          <nav class="main-nav">
            <ul class="d-flex justify-content-between">
              <li><a href="#">Про готель</a></li>
              <li><a href="#">Boutique Hotel</a></li>
              <li><a href="#">Budget Hotel</a></li>
              <li><a href="#">Apartaments</a></li>
              <li><a href="#">Beauty zone</a></li>
              <li><a href="#">Контакти</a></li>
              <li><a href="#">FAQ</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</header>