{{#main-content}}
    <section class="main-content" style="background-image: url(assets/img/{{main-bg}}.jpg);">
        <div class="info-block">
            <img src="assets/img/logo-successful.png" alt="picture" class="img-fluid">
            <div class="separator"></div>
            <p>Ви успішно заповнили форму, дякуємо за бронювання</p>
            <a href="#" class="btn btn_big btn_big_successful">Повернутись на головну</a>
        </div>
    </section>
{{/main-content}}