{{#main-carousel}}
<section class="main-carousel {{error-class}}" data-aos="fade-in">
  <!-- Carousel -->
  <div data-js="main-carousel">
    {{#slides}}
    <!-- Slide -->
    <div class="main-carousel__slide main-carousel__slide_one">
      <div class="slide-outer {{class-bg}}" style="background-image: url(assets/img/{{slide-name}}.jpg);">
        {{#error-msg-404}}
        <div class="error-text-wrapper position-absolute w-100 h-100 d-flex justify-content-center align-items-center">
          <div class="inner-404">
            <h1>Сторінку не знайдено</h1>
            <h2>404</h2>
            <div class="">
              <p>Ви можете повернутись на <a href="#">Головну</a></p>
            </div>
          </div>
        </div>
        {{/error-msg-404}}
      </div>
    </div>
    <!-- /Slide -->
    {{/slides}}
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
          <div class="contacts-nav d-block d-xl-none mt-2">
              <ul>
                <li>
                  <a href="mailto:Family@Residence.com.ua"><i class="icon icon-1 mr-2"></i><span class="d-inline-block">Family@Residence.com.ua</span></a>
                </li>
                <li class="ml-1 mt-2">
                  <a href="tel:+380672668263"><i class="icon icon-2 mr-2"></i><span class="d-inline-block">+ 38 067 266 8263</span></a>
                </li>
              </ul>
            </div>
      </div>
    </div>
  </div>
  <!-- /Carousel -->
</section>
{{/main-carousel}}