{{#main-carousel}}
<section class="main-carousel" data-aos="fade-in">
  <!-- Carousel -->
  <div data-js="main-carousel">
    {{#slides}}
    <!-- Slide -->
    <div class="main-carousel__slide main-carousel__slide_one">
      <div class="slide-outer" style="background-image: url(assets/img/{{slide-name}}.jpg);">
      </div>
    </div>
    <!-- /Slide -->
    {{/slides}}
  </div>
  <!-- /Carousel -->
</section>
{{/main-carousel}}