{{#column-header}}
<div class="column-header">
  <div class="title-header">
    <div class="item">
      <i class="icon icon-{{number-icon}}"></i>
      <p>{{{text}}}</p>
    </div>
  </div>  
</div>
{{/column-header}}