{{#price-block}}
  {{#items}}
  <ul class="item-list">
    <li>
      <span>{{{name}}}</span><span>{{{price}}}</span>
      {{#sublist}}
      <ul class="item-list__sublist">
        {{#sub-items}}
          <li>
            <span>{{{name}}}</span><span>{{{price}}}</span>
          </li>
        {{/sub-items}}
      </ul>
      {{/sublist}}
    </li>  
  </ul>
  {{/items}}
{{/price-block}}
