{{#teaser-1}}
  <img src="assets/img/{{file-name}}" alt="picture" {{#class}}class="{{class}}"{{/class}}>
  {{#paragraphs}}
  <div class="descriptions">
    <p>
      {{{text}}}
    </p>
  </div>
  {{/paragraphs}}
{{/teaser-1}}