{{#teaser-2}}
  <div class="teaser-2 h-100 d-flex flex-column">
    <img id="minImg" src="assets/img/{{img-name}}" alt="image" class="img-fluid mb-2">
    <div>
    {{#paragraphs}}
      <p>{{{text}}}</p>
    {{/paragraphs}}
    </div>
    <div class="mt-auto {{visibility}}">
      <a href="#" class="btn-classic">Переглянути</a>
    </div>
  </div>
{{/teaser-2}}