{{#teaser-1}}
<div class="teaser-1">
  <img src="assets/img/{{file-name}}" alt="picture" {{#class}}class="{{class}}"{{/class}}>
  <div class="descriptions">
    {{#paragraphs}}
    <p>
      {{{text}}}
    </p>
    {{/paragraphs}}
  </div>
</div>
{{/teaser-1}}