{{#teaser-3}}
<div class="menu-itm mt-4 {{teaser-class}}">
  <div data-mh="slide-gr" class="bgc mb-5 mr-0 ml-0">
    <div class="flat-carousel__slide flat-carousel__slide_one">
      <img src="assets/img/{{slide-name}}.jpg" alt="picture" class="img-fluid">
    </div>
    <div class="flat-wrapper">
      <div class="title-serv title-serv_flt">
        <a href="#">{{{title}}}</a>
      </div>
        <div class="flat-txt d-flex flex-row">
          <p>{{txt-1}}</p>
          <p>{{txt-2}}<span>{{txt-3}}</span></p>
        </div>
        <div class="separator ml-2"></div>
        <div class="info-item d-flex flex-row">
              <i class="icon icon-{{number-1}}"></i>
              <p>{{{txt-4}}}</p>
        </div>
        <div class="info-item  d-flex flex-row mt-2">
          <i class="icon icon-{{number-2}}"></i>
          <p>{{{txt-5}}}</p>
        </div>
        <div class="separator"></div>
        <div class="description">
          <p>{{txt-6}}</p>
        </div>
        <div class="btn-wrp d-flex justify-content-center">
          <div class="btn btn_big btn_big_mdf">Забронювати</div>
        </div>
        <div class="itm-wrp">
          <ul class="flat-list">
            <li>
              <i class="icon icon-11"></i>
            </li>
            <li>
              <i class="icon icon-12"></i>
            </li>
            <li>
              <i class="icon icon-13"></i>
            </li>
            <li>
              <i class="icon icon-15"></i>
            </li>
            <li>
              <i class="icon icon-14"></i>
            </li>
          </ul>
          <a href="#">Переглянути номер</a>
        </div>
    </div>
  </div>  
</div>
{{/teaser-3}}