{{#rules}}
<section class="contet-line">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <aside class="left-bar">
          <div class="itm itm_1 mt-4">
            <h2>Правила бронювання</h2>
            <div class="separator"></div>
            <ul class="item-list">
                {{#items}}
              <li>
                <span>{{{name}}}</span>
              </li>  
              {{/items}}
            </ul>
          </div>
          <div class="itm itm_2 mt-4">
            <h2>Найсучасніші засоби безпеки</h2>
            <div class="separator"></div>
            {{#secure-list}}
            <ul class="secure-list">
              {{#secure-items}}
              <li {{#class}}class="{{class}}"{{/class}}>
                <i class="icon icon-{{icon}}"></i>
                {{item-text}}
              </li>
              {{/secure-items}}
            </ul>
            {{/secure-list}}
          </div>
          <div class="itm itm_3 mt-4">
            <h2>У всіх номерах</h2>
            <div class="separator"></div>
            <div class="row">
              <div class="col-6  d-flex justify-content-center">
                <div class="item-serv item-serv_aside">
                  <i class="icon icon-12 m-0"></i>
                  <p>Супутникове телебачення</p>
                </div> 
              </div>
              <div class="col-6  d-flex justify-content-center">
                  <div class="item-serv item-serv_aside">
                      <i class="icon icon-17 m-0"></i>
                      <p>Мінібари</p>
                    </div> 
              </div>
            </div>
            <div class="row">
              <div class="col-6  d-flex justify-content-center">
                <div class="item-serv item-serv_aside">
                  <i class="icon icon-20 m-0"></i>
                  <p>Кондиціонери</p>
                </div> 
              </div>
              <div class="col-6  d-flex justify-content-center">
                <div class="item-serv item-serv_aside">
                  <i class="icon icon-21 m-0"></i>
                  <p>Безкоштовний WiFi</p>
                </div> 
              </div>
            </div>
          </div>
          <div class="itm itm_4 mt-4">
            <i class="icon icon-6 m-0"></i>
            <p><b>Стійка реєстрації працює цілодобово</b></p>
          </div>
          <div class="itm itm_5 mt-4">
            <h2>Швидкий пошук</h2>
            <div class="separator separator_search mb-0 mt-3"></div>
            <div class="select-with-label d-flex align-center">
              <label for="select-1234"><span>Тип номеру:</span></label>
              <select class="custom-select" id="select-1234">
                <option value="0">Двомісний номер делюкс</option>
                <option value="1">Some option</option>
                <option value="2">Some option</option>
                <option value="3">Some option</option>
              </select>
            </div> 
            <div class="separator separator_search"></div> 
            <div class="select-with-label d-flex">
              <label for="select-1234">Місткість:</label>
              <select class="custom-select pl-0" id="select-1234">
                <option value="0">2 обсоби</option>
                <option value="1">Some option</option>
                <option value="2">Some option</option>
                <option value="3">Some option</option>
              </select>
            </div>
            <div class="separator separator_search"></div> 
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="row">
          {{#slides}}
          <div class="col-12 col-lg-6">
            {{> ../partials/teaser-3 }}
          </div>
          {{/slides}}
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
              <ul class="pag-nav">
                  <li><a href="#" class="current">1</a></li>
                  <li><a href="#">2</a></li>
                </ul>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
{{/rules}}