{{#contact-items}}
    <div class="content-line content-line__menu-bg">
        <div class="contacts-main">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <div class="contact-baner contact-baner_with-shadow text-left m-0" data-aos="fade-right">
                        
                        <ul>
                            <li><i class="icon icon-3"></i><p>м.Львів, вул. Тадеуша Костюшка, 14.</p></li>
                            <li class="mt-4"><i class="icon icon-2"></i><a href="tel:+380672668263">Тел. +38 067 266 8263</a></li>
                            <li class="mt-4"><i class="icon icon-1"></i><a href="mailto:Family@Residence.com.ua">Family@Residence.com.ua</a></li>
                            <li class="mt-4"><i class="icon icon-4"></i><a href="#">Instagram</a></li>
                            <li class="mt-4"><i class="icon icon-5"></i><a href="#">Facebook</a></li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-12 col-lg-7">
                        <div class="write-to-us">
                            <div class="write-title text-center">
                                <h2>Написати нам</h2>
                            </div>
                            <div class="top-content d-sm-flex d-block mt-5">
                                <div class="insert-group mr-5">
                                    <label for="txt-name">Iм'я та прізвище:</label>
                                    <input type="text" id="txt-name" name="txt-name" value="Інна Хуторянська">
                                </div>
                                <div class="insert-group">
                                    <label for="txt-mail">Email:</label>
                                    <input type="text" id="txt-mail" name="txt-mail" value="Khutoryanska.i@pg.com">
                                </div>
                            </div>
                            <div class="bottom-content mt-5 mb-4">
                                <div class="insert-group">
                                    <label for="txt-feedback">Повідомлення:</label>
                                    <textarea name="txt-feedback" id="txt-feedback">Доброго дня, я б хотів дізнатись...</textarea>
                                </div>
                            </div>
                            <div class="send-button d-flex justify-content-end">
                                <a href="#" class="button-header">Відправити</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/contact-items}}