{{#about}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/beauty-salon-page/beauty-zone-baner }}
  {{> templates/about-hotel-page/about-menu }}
  {{> templates/about-hotel-page/gallery-carousel }}
  {{> templates/about-hotel-page/salon-carousel }}
  {{> templates/main-page/content-line-4 }}
  {{> templates/footer }}
  {{> templates/foot }}
{{/about}}