{{#beauty-salon}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/beauty-salon-page/beauty-zone-baner }}
  {{> templates/beauty-salon-page/beauty-slider }}
  {{> templates/beauty-salon-page/price }}
  {{> templates/main-page/content-line-3 }}
  {{> templates/main-page/content-line-4 }}
  {{> templates/footer }}
  {{> templates/foot }}
{{/beauty-salon}}