{{#butique-hotel}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/beauty-salon-page/beauty-zone-baner }}
  {{> templates/butique-hotel/rules }}
  {{> templates/main-page/content-line-2 }}
  {{> templates/main-page/content-line-4 }}
  {{> templates/footer }}
  {{> templates/foot }}
{{/butique-hotel}}