{{#contacts}}
    {{> templates/head }}
    {{> templates/header }}
    {{> templates/beauty-salon-page/beauty-zone-baner }}
    {{> templates/contacts-page/contact-items }}
    {{> templates/contacts-page/contacts-map }}
    {{> templates/footer }}
    {{> templates/foot }}
{{/contacts}}