{{#flat-2}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/beauty-salon-page/beauty-zone-baner }}
  {{> templates/flat-2-page/deluxe-2 }}
  {{> templates/flat-2-page/services }}
  {{> templates/flat-2-page/flat-carousel }}
  {{> templates/flat-2-page/menu-flat }}
  {{> templates/main-page/content-line-4 }}
  {{> templates/footer }}
  {{> templates/foot }}
{{/flat-2}}