{{#home}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/main-carousel }}
  {{> templates/main-page/content-line-1 }}
  {{> templates/main-page/content-line-2 }}
  {{> templates/main-page/content-line-3 }}
  {{> templates/main-page/content-line-4 }}
  {{> templates/footer }}
  {{> templates/foot }}
{{/home}}