{{#about-menu}}
<section class="content-line content-line__menu-bg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-0 offset-lg-3">
        <div class="inf-text text-center">
          <p>Новий затишний готель в центрі Львова, де поєднався дух австро-угорських традицій  (будинок-пам’ятка архітектур 19 століття ) з сучасними традиціями комфорту і домашнього затишку.</p>
        </div>
      </div>
    </div>
      <div class="mn-content mt-5 mb-5">
        <div class="col-12 col-lg-10 offset-0 offset-lg-1">
            <div class="d-flex justify-content-between">
              <i class="icon icon-24 m-0"></i>
              <i class="icon icon-24 m-0"></i>
              <i class="icon icon-24 m-0"></i>
              <i class="icon icon-24 m-0"></i>
            </div>
        </div>
      </div>

    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="menu-img" style="background-image: url(assets/img/menu-photo-1.jpg);">
          <div class="section-title section-title__img">
              <a href="#">Budget hotel</a>
            </div>
        </div>
      </div>
      <div class="col-12 pt-5 col-lg-4 pt-lg-0">
        <div class="menu-img" style="background-image: url(assets/img/menu-photo-2.jpg);">
          <div class="section-title section-title__img">
              <a href="#">Bontique hotel</a>
            </div>
        </div>
      </div>
      <div class="col-12 pt-5 col-lg-4 pt-lg-0">
        <div class="menu-img" style="background-image: url(assets/img/menu-photo-3.jpg);">
          <div class="section-title section-title__img">
              <a href="#">Apartaments</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
  
{{/about-menu}}