{{#about-menu}}
<section class="content-line content-line__menu-bg" data-aos="fade-right">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-6 offset-0 offset-lg-3">
        <div class="inf-text text-center">
          <p>Новий затишний готель в центрі Львова, де поєднався дух австро-угорських традицій  (будинок-пам’ятка архітектур 19 століття ) з сучасними традиціями комфорту і домашнього затишку.</p>
        </div>
      </div>
    </div>
    <div class="mn-content mt-5 mb-5 d-lg-block d-none">
      <div class="col-12 col-lg-10 offset-0 offset-lg-1">
        <div class="services-icons">
          <div class="item">
            <img src="assets/img/about-icon-1.png" alt="picture" class="img-fluid">
            <p>Домашній затишок</p>
          </div>
          <div class="item">
            <img src="assets/img/about-icon-2.png" alt="picture" class="img-fluid">
            <p>Високий сервіс</p>
          </div>
          <div class="item">
            <img src="assets/img/about-icon-3.png" alt="picture" class="img-fluid">
            <p>Смачна кава</p>
          </div>
          <div class="item">
            <img src="assets/img/about-icon-4.png" alt="picture" class="img-fluid">
            <p>Безпека</p>
          </div>
          </div>
      </div>
    </div>
    <div class="row d-lg-flex d-none"> 
      <div class="col-12 col-lg-4"> 
        <a href="#" class="menu-img" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-1.jpg);">
          <div class="section-title section-title__img">
            <span>Budget hotel</span>
          </div>
        </a>
      </div>
      <div class="col-12 pt-5 col-lg-4 pt-lg-0">
        <a href="#" class="menu-img" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-2.jpg);">
          <div class="section-title section-title__img">
            <span>Bontique hotel</span>
          </div>
        </a>
      </div>
      <div class="col-12 pt-5 col-lg-4 pt-lg-0">
          <a href="#" class="menu-img" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-3.jpg);">
            <div class="section-title section-title__img">
              <span>Apartaments</span>
            </div>
          </a>
        </div>
    </div>
  </div>
  <div data-js="mob-carousel-2" class="d-lg-none d-block">
    <a href="#" class="menu-img ml-2 mr-2" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-1.jpg);">
      <div class="section-title section-title__img">
        <span>Budget hotel</span>
      </div>
    </a>
    <a href="#" class="menu-img ml-2 mr-2" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-2.jpg);">
      <div class="section-title section-title__img">
        <span>Bontique hotel</span>
      </div>
    </a>
    <a href="#" class="menu-img ml-2 mr-2" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-3.jpg);">
      <div class="section-title section-title__img">
        <span>Apartaments</span>
      </div>
    </a>
    <a href="#" class="menu-img ml-2 mr-2" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-1.jpg);">
      <div class="section-title section-title__img">
        <span>Budget hotel</span>
      </div>
    </a>
    <a href="#" class="menu-img ml-2 mr-2" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-2.jpg);">
      <div class="section-title section-title__img">
        <span>Bontique hotel</span>
      </div>
    </a>
    <a href="#" class="menu-img ml-2 mr-2" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-3.jpg);">
      <div class="section-title section-title__img">
        <span>Apartaments</span>
      </div>
    </a>
  </div>
</section>
  
{{/about-menu}}