{{#beauty-slider}}
  <section class="content-line">
    <div class="section-title text-center">
      <h2>
        {{text}}
      </h2>
    </div>
      <div class="gallery-carousel">
        <!-- Carousel -->
        <div data-js="gallery-carousel">
          {{#slides}}
          <!-- Slide -->
          <div class="gallery-carousel__slide gallery-carousel__slide_one">
            <div class="slide-outer slide-outer__gallery " style="background-image: url(assets/img/{{slide-name}}.jpg);">
            </div>
          </div>
          <!-- /Slide -->
          {{/slides}}
        </div>
        <!-- /Carousel -->  
        <div class="container">
          <div class="row pl-3">
            <div class="col-12 col-lg-11 offset-lg-1">
                <div class="dots-place dots-place_gallery"></div>
            </div>
          </div>
        </div>
      </div>
  </section>
{{/beauty-slider}}