{{#salon-slider}}
 
    <div class="container content-line mb-salon">
      <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1">
          <div class="section-title text-left">
            <h2>
              {{text}}
            </h2>
            <p>Для гостей бутік готелю діє постійна <b>знижка 10%</b></p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
          <div class="services-icons">
              <div class="item">
                <i class="icon icon-24"></i>
                <p>Неперевершений візаж</p>
              </div>
              <div class="item">
                  <i class="icon icon-25"></i>
                  <p>Вишуканий манікюр та педікюр</p>
              </div>
              <div class="item">
                  <i class="icon icon-26"></i>
                  <p>Перукарські послуги</p>
              </div>
              <div class="item">
                <i class="icon icon-27"></i>
                <p>Професійна корекція брів</p>
              </div>
          </div> 
        </div>
      </div>
      <div class="row justify-content-center">
       <div class="col-12 col-lg-10">
          <div class="salon-carousel">
            <!-- Carousel -->
            <div data-js="salon-carousel">
              {{#slides}}
              <!-- Slide -->
              <div class="salon-carousel__slide salon-carousel__slide_one">
                <div class="slide-outer slide-outer__beauty " style="background-image: url(assets/img/{{slide-name}}.jpg);">
                </div>
              </div>
              <!-- /Slide -->
              {{/slides}}
            </div>
            <!-- /Carousel -->  
            <div class="row">
              <div class="col-12 col-lg-10">
                <div class="dots-place dots-place_salon"></div>
              </div>
            </div>
          </div>
       </div>
     </div>   
    </div>
 
{{/salon-slider}}