{{#deluxe-2}}
  <div class="container mt-5">
    <div class="row">
      <div class="col-12">
        <div class="text-t">
          <h2>Двомісний делюкс</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="flat-nav">
          <ul>
            <li class="li">
              <a href="#" class="current mr-4">Номер 1</a>
            </li>
            <li class="li">
              <a href="#" class="mr-4">Номер 2</a>
            </li>
            <li class="li">
              <a href="#" class="mr-4">Номер 3</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-lg-8">
        <img src="assets/img/title-photo.jpg" alt="flat" class="img-fluid"> 
        <div class="column-header column-header-bg py-3 py-lg-5 px-3 d-block">
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-3">
              <div class="item mt-3">
                <i class="icon icon-11"></i>
                <p>Бкзкоштовний Wi-Fi</p>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-lg-3">
              <div class="item mt-3">
                <i class="icon icon-13"></i>
                <p>Кондиціонер</p>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-lg-3">
              <div class="item mt-3">
                <i class="icon icon-12"></i>
                <p>Супутникове телебачення</p>
              </div>
            </div>
            <div class="col-6 col-sm-6 col-lg-3">
              <div class="item mt-3">
                <i class="icon icon-15"></i>
                <p>Мінібар</p>
              </div>
            </div>                
          </div>
          <div class="row mt-5">
            <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-sm-0">
              <div class="item item_no-flex">
                <div data-mh="title-gr">
                  <h4>Власна ванна кімната</h4>
                </div>
                <ul class="item-list item-list__mp">
                  {{#items}}
                  <li>
                    {{{name}}}
                  </li>  
                  {{/items}}
                </ul>
              </div>
            </div>
            <div class="col-12 col-sm-6 col-lg-3 mt-3 mt-sm-0">
              <div class="item item_no-flex">
                <div data-mh="title-gr">
                  <h4>Зручності</h4>
                </div>
                <ul class="item-list item-list__mp">
                  {{#items-1}}
                  <li>
                    {{{name}}}
                  </li>  
                  {{/items-1}}
                </ul>
              </div>
            </div>
            <div class="col-12 col-lg-6 mt-5 mt-lg-0">
              <div class="d-flex flex-column h-100">
                <div class="txt-wrapper">
                  <p>Двомісний номер, який ми рекомендуємо для 2-х осіб з двоспальним ліжком King size з ортопедичним матрасом розміром 180х200см.</p>
                </div>
                <div class="mt-auto text-right">
                  <p class="price mt-3">Ціна від <span>2800грн</span></p>
                  <a href="#" class="btn btn_big btn_big_mdf ml-auto">Забронювати</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="column-header-bg mt-5 mb-3 pb-2 pt-3 mt-lg-0">
          <div class="row">
            {{#partials}}
            <div class="col-6 col-sm-6 mb-3 mb-lg-1">
              {{> ../partials/column-header }}
            </div>
            {{/partials}}
          </div>
        </div>
        <div class="row">
          {{#teasers}}
          <div class="col-6 col-sm-6 mb-3 mb-lg-2">
            {{> ../partials/teaser-2 }}
          </div>
          {{/teasers}}
        </div>
      </div>
    </div>
  </div>
{{/deluxe-2}}