{{#flat-carousel}}
  <section class="content-line content-line__menu-bg">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
            {{> ../partials/section-title }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div data-js="flat-carousel" class="flat-carousel">
            {{#slides}}
              <div data-mh="slide-gr" class="bgc mb-5">
                <div class="flat-carousel__slide flat-carousel__slide_one">
                  <div class="slide-outer" style="background-image: url(assets/img/{{slide-name}}.jpg);">
                  </div>
                </div>
                <div class="flat-wrapper">
                  <div class="title-serv title-serv_flt">
                    <h2>{{title}}</h2>
                  </div>
                    <div class="flat-txt d-flex flex-row">
                      <p>{{txt-1}}</p>
                      <p>{{txt-2}}<span>{{txt-3}}</span></p>
                    </div>
                    <div class="separator ml-2"></div>
                    <div class="info-item d-flex flex-row">
                          <i class="icon icon-{{number-1}}"></i>
                          <p>{{{txt-4}}}</p>
                    </div>
                    <div class="info-item  d-flex flex-row mt-2">
                      <i class="icon icon-{{number-2}}"></i>
                      <p>{{{txt-5}}}</p>
                    </div>
                    <div class="separator"></div>
                    <div class="description">
                      <p>{{txt-6}}</p>
                    </div>
                </div>
              </div> 
            {{/slides}}       
          </div>
        </div>
      </div>
    </div>
  </section>
{{/flat-carousel}}