{{#flat-carousel}}
  <section class="content-line content-line__menu-bg">
    <div class="container">
      <div class="row">
        <div class="col-12 d-flex justify-content-center">
            {{> ../partials/section-title }}
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div data-js="flat-carousel" class="flat-carousel d-flex justify-content-between">
            {{#slides}}
              {{> ../partials/teaser-3 }}
            {{/slides}}       
          </div>
        </div>
      </div>
    </div>
  </section>
{{/flat-carousel}}