{{#about-menu}}
<section class="content-line">
  <div class="container">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="menu-img" style="background-image: url(assets/img/menu-photo-1.jpg);">
          <div class="section-title section-title__img">
              <a href="#">Budget hotel</a>
            </div>
        </div>
      </div>
      <div class="col-12 pt-5 col-lg-4 pt-lg-0">
        <div class="menu-img" style="background-image: url(assets/img/menu-photo-2.jpg);">
          <div class="section-title section-title__img">
              <a href="#">Apartaments</a>
            </div>
        </div>
      </div>
      <div class="col-12 pt-5 col-lg-4 pt-lg-0">
        <div class="menu-img" style="background-image: url(assets/img/menu-photo-4.jpg);">
          <div class="section-title section-title__img">
              <a href="#">Beauty zone</a>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/about-menu}}