{{#about-menu}}
<section class="content-line">
  <div class="container">
    <div class="row"> 
      <div class="col-12 col-lg-4"> 
        <a class="menu-img" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-1.jpg);">
          <div class="section-title section-title__img">
            <span>Budget hotel</span>
          </div>
        </a>
      </div>
      <div class="col-12 pt-5 col-lg-4 pt-lg-0">
        <a class="menu-img" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-2.jpg);">
          <div class="section-title section-title__img">
            <span>Bontique hotel</span>
          </div>
        </a>
      </div>
      <div class="col-12 pt-5 col-lg-4 pt-lg-0">
        <a class="menu-img" data-aos="flip-up" style="background-image: url(assets/img/menu-photo-3.jpg);">
          <div class="section-title section-title__img">
            <span>Apartaments</span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{{/about-menu}}