{{#services}}
 <section class="content-line content-line__menu-bg">
   <div class="container">
     <div class="row">
        <div class="col-12 col-lg-6">
          <div class="row">
            <div class="col-12 col-lg-12">
              <div class="column-header-bg">
                <div class="title-serv">
                  <h2>Послуги,<br>які входять у вартість</h2>
                </div>
              <div class="row">
                <div class="col-6  d-flex justify-content-center">
                  <div class="item-serv">
                    <i class="icon icon-16"></i>
                    <p>Кава, чай на рецепції</p>
                  </div> 
                </div>
                <div class="col-6  d-flex justify-content-center">
                    <div class="item-serv">
                        <i class="icon icon-17"></i>
                        <p>Інформаційні послуги</p>
                      </div> 
                </div>
              </div>
              <div class="row pb-5 mt-sr">
                <div class="col-6  d-flex justify-content-center">
                  <div class="item-serv">
                    <i class="icon icon-20"></i>
                    <p>Щоденне прибирання номерів</p>
                  </div> 
                </div>
                <div class="col-6  d-flex justify-content-center">
                  <div class="item-serv">
                    <i class="icon icon-21"></i>
                    <p>Виклик таксі</p>
                  </div> 
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-6  mt-5 mt-lg-0">
          <div class="row">
            <div class="col-12 col-lg-12">
              <div class="column-header-bg">
                <div class="title-serv"> 
                  <h2>Додаткові послуги,<br> що не входять у вартість</h2>
                </div>
                <div class="row">
                  <div class="col-6  d-flex justify-content-center">
                      <div class="item-serv">
                          <i class="icon icon-18"></i>
                          <p>Екскурсійні програми</p>
                          <p>з кваліфікованими гідами на різних мовах</p>
                        </div> 
                  </div>
                  <div class="col-6  d-flex justify-content-center">
                      <div class="item-serv">
                          <i class="icon icon-19"></i>
                          <p>Beauty Zone</p>
                          <p>Послуги салону краси</p>
                        </div> 
                  </div>
                </div>
                <div class="row pb-3 mt-srv">
                  <div class="col-6  d-flex justify-content-center">
                      <div class="item-serv">
                          <i class="icon icon-22"></i>
                          <p>Трансфер</p>
                          <p>до залізничного вокзалу або аеропорту</p>
                        </div> 
                  </div>
                  <div class="col-6  d-flex justify-content-center">
                      <div class="item-serv">
                          <i class="icon icon-23"></i>
                          <p>Прокат авто</p>
                          <p>Щоб потрапити куди потрібно з легкістю</p>
                        </div> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
     </div>
    </div>
 </section>
{{/services}}