{{#services}}
 <section class="content-line content-line__menu-bg">
   <div class="container">
     <div class="row">
        {{#services-side}}
        <div class="col-12 col-lg-6 text-center">
          <div class="services-content-wrapper column-header-bg h-100">
            <div class="row mb-2" data-mh="services-main-title-gr">
              <div class="col-12">
                <h2>{{{services-main-title}}}</h2>
              </div>
            </div>
            <div class="row">
              {{#serv-item}}
              <div class="col-6 mt-5">
                <div class="item-serv" data-mh="item-serv-gr">
                  <i class="icon mb-3 icon-{{serv-icon}} d-block mx-auto"></i>
                  <h5>{{serv-title}}</h5>
                  {{#serv-desc}}
                    <p>{{serv-desc}}</p>
                  {{/serv-desc}}
                </div>
              </div>
              {{/serv-item}}
            </div>
          </div>
        </div>
        {{/services-side}}
      </div>
    </div>
 </section>
{{/services}}